*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*--------NAV BAR---------*/
.navBar-Wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 3% 0;
}
#logoWrapper img{
    padding: 25px 25px;
}
#directoryWrapper{
    display: flex;
    justify-content: center;
    width: 40%;
    height: auto;
}
#directoryWrapper a{
    text-decoration: none;
    color: black;
    width: fit-content;
    padding: 20px 25px;
    text-align: center;
}
#contactLink{
    color: darkcyan;
}
#directoryWrapper a:hover{
    color: darkcyan;
}
/*--------CONTACT------------*/
#contactWrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#header{
    color: white;
    background-color: black;
    font-size: 22pt;
    padding: 8px 20px;
    margin-bottom: 1.5%;
}
.customerInfo{
    border: 2px solid black;
    width: 40%;
    min-height: 50px;
    padding: 14px 10px 10px 10px; 
    margin-bottom: 2%;
    resize: vertical;
    text-align: center; 
    line-height: 1.5;
}
#messageTextBox{
    height: 150px;
}
#sendBtn{
    color: white;
    background-color: black;
    font-size: 12pt;
    padding: 20px 25px;
    margin-bottom: 5%;
}
/*--------FOOTER------------*/
footer{
    display: flex;
    background-color: rgb(23, 22, 22);
    height: 15vh;
}
#copyright{
    width: 50%;
    text-align: center;
    align-self: center;
    color: white;
}
#socials{
    width: 50%;
    text-align: center;
    align-self: center;
}
#socials img{
    padding: 0 5px;
}