*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*--------NAV BAR---------*/
.navBar-Wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 3% 0;
}
#logoWrapper img{
    padding: 25px 25px;
}
#directoryWrapper{
    display: flex;
    justify-content: center;
    width: 40%;
    height: auto;
}
#directoryWrapper a{
    text-decoration: none;
    color: black;
    width: fit-content;
    padding: 20px 25px;
    text-align: center;
}
#gallery{
    color: darkcyan;
}
#directoryWrapper a:hover{
    color: darkcyan;
}
/*-------GALLERY--------*/
#galleryWrapper{
    display: flex;
    align-items: center;
    flex-direction: column;
}
#galleryWrapper h1{
    outline: solid;
    background-color: black;
    color: white;
    width: fit-content;
    padding: 10px 20px;
}
#gallery{
    display: flex;
    justify-content: center;
    width: 75%;
    flex-wrap: wrap;
    margin: 20px;
}
#gallery img{
    width: 25%;
    margin: 10px;
    border: 2px solid black;
    opacity: .8;
}