*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*--------NAV BAR---------*/
.navBar-Wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 3% 0;
}
#logoWrapper img{
    padding: 25px 25px;
}
#directoryWrapper{
    display: flex;
    justify-content: center;
    width: 40%;
    height: auto;
}
#directoryWrapper a{
    text-decoration: none;
    color: black;
    width: fit-content;
    padding: 20px 25px;
    text-align: center;
}
#homeLink{
    color: darkcyan;
}
#directoryWrapper a:hover{
    color: darkcyan;
}

/*---------BEACON-----------*/
#beacon-Wrapper{
    height: 80vh;
    background-image: url(images/the-beacon.jpg);
    background-size: cover;
    display: flex;
    justify-content: flex-end;
}
#beaconText{
    display: flex;
    flex-direction: column;
    width: 44%;
    height: 100%;
    margin: 5%;
}
#beaconText h2{
    background-color: white;
    width: fit-content;
    padding: 2% 4%;
    margin-bottom: 20px;
}
#beaconText p{
    background-color: black;
    color: white;
    width: fit-content;
    padding: 2% 4%;
    margin: 5px 0;
}
#readMoreBtn p{
    background-color: rgb(47, 101, 211);
    font-size: 10pt;
    padding: 20px 25px;
    margin-top: 20px;
}
/*---------MINI GALLERY----------*/
#miniGallery{
    display: flex;
    justify-content: center;
}
.miniGall{
    margin-top: 35px;
    padding: 0px 10px;
}
.miniGall img{
    border: 2px solid black;
}
.miniGall h3{
    text-align: center;
    margin: 20px;
}
/*--------FOOTER------------*/
footer{
    display: flex;
    background-color: rgb(23, 22, 22);
    height: 15vh;
}
#copyright{
    width: 50%;
    text-align: center;
    align-self: center;
    color: white;
}
#socials{
    width: 50%;
    text-align: center;
    align-self: center;
}
#socials img{
    padding: 0 5px;
}