*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*--------NAV BAR---------*/
.navBar-Wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 3% 0;
}
#logoWrapper img{
    padding: 25px 25px;
}
#directoryWrapper{
    display: flex;
    justify-content: center;
    width: 40%;
    height: auto;
}
#directoryWrapper a{
    text-decoration: none;
    color: black;
    width: 20%;
    padding: 20px 5px;
    text-align: center;
    font-style: bold;
}
#directoryWrapper a:hover{
    color: darkcyan;
}

/*---------BEACON-----------*/
#beacon{
    height: 500px;
    background-image: url(images/the-beacon.jpg);
    background-size: cover;
    justify-content: flex-end;
}
#beaconText{
    outline: solid red 5px;
    width: 50%;
    height: 100%;
    
}